In [4]:
# importing the packages
import pandas as pd
import numpy as np
import matplotlib as plt
from sklearn.preprocessing import LabelEncoder
import seaborn as sns
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from  sklearn  import  model_selection
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix
from  sklearn.metrics import accuracy_score
%matplotlib inline

In [5]:
# importing the dataset to df
df = pd.read_csv("kmeans.csv")

In [7]:
#checking the dataset 
df.head()

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1100,25860.0,39025.0,HomeImp,Other,10.5,0.0,0.0,94.366667,1.0,9.0,NaN
1,1,1300,70053.0,68400.0,HomeImp,Other,7.0,0.0,2.0,121.833333,0.0,14.0,NaN
2,1,1500,13500.0,16700.0,HomeImp,Other,4.0,0.0,0.0,149.466667,1.0,10.0,NaN
3,1,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,1700,97800.0,112000.0,HomeImp,Office,3.0,0.0,0.0,93.333333,0.0,14.0,NaN

In [4]:
#imputing the numerical column null values with mean values
df.fillna(df.mean(), inplace=True)

In [5]:
# the categorical column null values are replaced by others
df.fillna("others", inplace=True)

In [6]:
#checking the datatypes
df.dtypes

BAD          int64
LOAN         int64
MORTDUE    float64
VALUE      float64
REASON      object
JOB         object
YOJ        float64
DEROG      float64
DELINQ     float64
CLAGE      float64
NINQ       float64
CLNO       float64
DEBTINC    float64
dtype: object

In [8]:
#using label encoder converting reason column to numericals
labelEncoder=preprocessing.LabelEncoder()
labelEncoder.fit(df["REASON"])
df["REASON"]=labelEncoder.transform(df["REASON"])

In [9]:
#using label encoder converting job column to numericals
labelEncoder.fit(df['JOB'])
df['JOB'] = labelEncoder.transform(df['JOB'])

In [ ]:
df

In [10]:
#creating dummies for the bad column
df["BAD"]=pd.get_dummies(df["BAD"],drop_first=True)

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
#splitting into training and testing
X = df.drop("BAD", axis=1)
y = df["BAD"]
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [14]:
#Fitting the logistic regression
logmodel=LogisticRegression()
logmodel.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [15]:
#predicting 
predictions=logmodel.predict(X_test)

In [16]:
#checking the accuracy
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logmodel.score(X_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.80

In [21]:
#classification
print(classification_report(y_test, predictions))

             precision    recall  f1-score   support

          0       0.80      1.00      0.89      1194
          1       0.33      0.00      0.01       296

avg / total       0.71      0.80      0.71      1490

In [26]:
#cross validation
kfold = model_selection.KFold(n_splits=10, random_state=7)
modelCV = LogisticRegression()
scoring = 'accuracy'
results = model_selection.cross_val_score(modelCV, X_train, y_train, cv=kfold, scoring=scoring)
print("10-fold cross validation average accuracy: %.3f" % (results.mean()))

10-fold cross validation average accuracy: 0.800

In [27]:
#confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, predictions)
print(confusion_matrix)

[[1192    2]
 [ 295    1]]

In [31]:
#calculating the accuracy
accuracy_score(y_test,predictions)

0.8006711409395973